* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row div {
    height: 40px;
}

.white {
    background-color: white;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: rgb(0, 174, 255);
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}