* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-wrap: nowrap;
}
.row div {
    
    height: 40px;
    /* border: 1px solid red; */
}

/* [class*="border"] {
    border-color: black;
} */

.white {
    background-color: white;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}
